         .header{
            text-align:center;
            margin-right:200px;
         }
         
         
         
         .block{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:block;
            color: white;
            background-color: rgb(78, 78, 245);
            padding:12px;
            padding-bottom:12px;
            margin-left:15px;
            margin-top:10px;
            margin-bottom:10px;
            margin-right:100px;
         }
         .inline{
            
            display:inline;
            background-color:rgb(116, 255, 116);
            color:white; 
            margin-left:15px;
            padding:9px;
         }
         .inline-block{
            display:inline-block;
            background-color:rgb(174, 116, 255);
            color:white; 
            
            padding:15px;
            margin-left:15px;
            
         }
         .float{
            display:inline;
            background-color:rgb(235, 134, 94);
            color:white; 
            padding:10px;
            margin-left:15px;
            
         }
         